@model DoseViewModel

@{
    ResponsavelViewModel Responsavel = (ResponsavelViewModel)ViewData["ResponsavelID"];
    List<VacinaViewModel> Vacinas = (List<VacinaViewModel>)ViewData["Vacinas"];
    List<DoseViewModel> Doses = (List<DoseViewModel>)ViewData["Doses"];
}



<div class="row">
    <div class="col-12">
        <div class="col-md-6 offset-md-3">
            <h2>Responsável - @Responsavel.ResponsavelName</h2>
        </div>
        <br />
    </div>
</div>

<div class="row">
    <div class="col-12">
        <div class="col-md-6 offset-md-3">
            <form id="form" action="/Ubs/PostDose" method="post">
                <h3>Dependente Vacinado</h3>
                <select class="form-control sem-borda" name="DependenteID" id="listbox">
                    @foreach (var item in Responsavel.Dependentes)
                    {
                        <option value="@item.DependentID">
                            @item.DependentName
                        </option>
                    }
                </select>
                <br />
                <div>
                    <h3 class="espaco">Cadastro Vacinas</h3>
                </div>
                <div class="form-group">
                    <label for="vacina">Vacina : </label>
                    <select class="form-control sem-borda" id="vacina" name="VacinaID">
                        <option selected>Escolha uma vacina</option>
                        @foreach (var vacina in Vacinas)
                        {
                            <option value="@vacina.VacinaId">
                                @vacina.VacinaName
                            </option>
                        }
                    </select>
                </div>
                <div class="form-group">
                    <label for="Dose">Dose : </label>
                    <select class="form-control sem-borda" id="dose" name="DoseID">
                        <option selected>Escolha uma vacina</option>
                        @foreach (var dose in Doses)
                        {
                            <option value="@dose.DoseID">
                                @dose.DoseType
                            </option>
                        }
                    </select>                  
                </div>

                <button type="submit" class="btn btn-primary right sem-borda blue">Cadastrar Vacina</button>
            </form>
            <form action="/Ubs/CadastrarDependente?id=@Responsavel.ResponsavelID" method="post">
                <button type="submit" class="btn btn-primary sem-borda blue">Cadastrar mais um dependente</button>
            </form>
        </div>

    </div>
</div>