@{
    Layout = "~/Views/Shared/_LayoutConsulta.cshtml";
    ResponsavelViewModel Responsavel = (ResponsavelViewModel)ViewData["Responsavel"];
}



<section class="row consulta-usuario">
    <div class="col">
        <div class="container w90">
            <div class="row justify-content-md-center">
                <div class="col-md">
                    <h1 class="blue-text my-4">Carteiras de vacinação</h1>
                    <ul class="nav nav-tabs" id="tab">
                        @foreach (var dependente in Responsavel.Dependentes)
                        {
                            <li class="nav-item">
                                <a class="nav-link" href="#@dependente.DependentID">@dependente.DependentName</a>
                            </li>
                        }

                    </ul>
                </div>
            </div>
            @foreach (var dependente in Responsavel.Dependentes)
            {
                <div id="@dependente.DependentID" class="row mb-4 vacinas">
                    <div class="col-md">
                        <div class="row">
                            <div class="col-md my-4"><h4>Vacinas Cadastradas</h4></div>
                        </div>

                        <div class="row">
                            <div class="col-md">
                                <ul class="row">
                                    @foreach (var vacina in dependente.Vacinas)
                                    {
                                        <li class="vacina px-3" style="list-style-type: none;">
                                            <div class="card">
                                                <div class="card-body">
                                                    <h6 class="card-title">@vacina.VacinaName</h6>
                                                    <ul class="list-group list-group-flush d-none">
                                                        @foreach (var dose in vacina.Doses)
                                                        {
                                                            <li class="list-group-item"><small><strong>@dose.DoseType: </strong>@vacina.VacinaData.ToString("d")</small></li>
                                                        }
                                                    </ul>
                                                </div>
                                            </div>
                                        </li>

                                    }
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            }


        </div>
    </div>
</section>

